@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-12 mt-5">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Usted no es ella</h5>
                <p class="card-text">Vuelva a escribir su nombre</p>
                <a href="/Home" class="btn btn-primary">Intentar de nuevo</a>
            </div>
        </div>
    </div>
</div>